.dashboard-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    /* Default single-column layout */
    grid-template-areas:
        "navbar"
        "dashboard-nav dashboard-content";
    height: 100vh;
    /* Full screen height */
}

.dashboard-nav {
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 1rem;
    color: #ff7200;

    color: #fff;
    height: 100vh;
    width: 200px;
    position: fixed;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dashboard-nav ul {
    list-style: none;
    padding: 0;
}

.dashboard-nav li {
    margin: 1rem 0;
}

.dashboard-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.dashboard-nav li a:hover {
    color: #ff7200;
}