.reservation-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f3f5;
}

.res-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    height: 100%;
}

.res-header {
    margin-top: 8rem;
    color: #ff7200df;
    text-align: center;
}

.res-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 1rem 1.5rem;
    background-color: #f2f3f5;
    border: 1px solid #23316e;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.res-btn {
    padding: .6rem 0;
    border: none;
    outline: none;
    border-radius: .3rem;
    background-color: #ff7200ef;
    color: #f2f3f5;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

.res-btn:hover {
    background-color: #363f66;
}

.res-date-container,
.res-company-name-container,
.res-name-container {
    display: flex;
    align-items: center;
    /* gap: 2rem; */
    justify-content: space-between;
    flex-wrap: wrap;
}

.res-date-container>label,
.res-company-name-container>label,
.res-name-container>label {
    font-size: 14pt;
}

.res-company-select,
.res-name-input {
    padding: .5rem 1rem;
    border: .5px solid #38383aee;
    background-color: transparent;
    margin-left: 1rem;
    color: #38383aee;
    font-size: 13pt;
    border-radius: 3px;
    outline: none;
}

.res-company-select {
    cursor: pointer;
}

.res-company-select:hover,
.res-name-input:hover {
    border: 1px solid #38383aee;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}


/* For the time range */
