.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.2rem 2rem;
    background-color: #242424;
    color: #ffffffef;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: fixed;
    top: 0;

    /* Glass effect */
    background: rgba(36, 36, 36, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: #ffffffef;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    transition: all 0.3s ease;
}

.nav-links .active {
    color: #ff7200ef;
    font-weight: bold;
}

.nav-links li a {
    color: #ffffffef;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ff7200ef;
}

/* Place Hamburger Button on the Right Side */
.hamburger {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: #ffffffef;
    cursor: pointer;
    margin-left: auto;
}

.nav-links.active {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #242424;
    width: 200px;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
}

/* Navbar Styling for Small Screens */
@media (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: row;
        /* Ensure horizontal alignment */
        justify-content: space-between;
        /* Space out logo and hamburger */
        align-items: center;
    }

    .logo {
        font-size: 1.5rem;
        font-weight: bold;
        color: #ffffffef;
    }

    .hamburger {
        display: block;
        /* Show hamburger on smaller screens */
        font-size: 1.8rem;
        background: none;
        border: none;
        color: #ffffffef;
        cursor: pointer;
    }

    .ham-active {
        color: #ff7200ef;
    }

    .nav-links {
        display: none;
        /* Hide links initially */
    }

    .nav-links.active {
        display: flex;
        /* Show links when menu is active */
        flex-direction: column;
        /* Stack them vertically */
        position: absolute;
        top: 100%;
        /* Drop below the navbar */
        right: 0;
        background-color: #242424;
        width: 200px;
        padding: 1rem;
        border-radius: 0 0 1rem 1rem;
    }
}